<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ct Forum - Login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<form th:action="@{/login}" method="post">

    <div th:if="${param.error}">
        <span>Invalid username or password.</span>
    </div>

    <div th:if="${param.logout}">
        <span>You have been logged out.</span>
    </div>

    <div>
        <label>
            Email
            <input type="text" name="email"/>
        </label>
    </div>

    <div>
        <label>
            Senha
            <input type="password" name="password"/>
        </label>
    </div>

    <button type="submit">Login</button>
    <a th:href="@{/register}">Create account</a>

</form>
</body>
</html>
